@model IEnumerable<DATN.Models.Room>

<!-- Template Main CSS File -->
<link rel="stylesheet" href="~/FE2/css/style.css" />
<link rel="stylesheet" href="~/FE2/css/roomsList.css" />
<link rel="stylesheet" href="~/FE2/css/responsive.css" />
<style>
    .rooms__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        border: 1px solid #ddd;
        padding: 15px;
        background-color: #fff;
        transition: transform 0.3s ease;
    }

        .rooms__item:hover {
            transform: scale(1.05);
        }

    .rooms__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

</style>
<!-- page title -->
<div class="page-title container-fluid">
    <div class="container" style="position: relative;">
        <p class="title">Phòng</p>
        <p class="page-tree">
            <span class="home"><a href="/">Trang chủ</a></span>
            <span><i class="fa fa-angle-right"></i></span>
            <span><a href="#">Phòng</a></span>
        </p>
    </div>
</div>
<!-- end page title -->
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="rooms">
                    <div class="rooms__nav">
                        <a href="#">Mặc định</a>
                        <a href="#">Giá(Cao-Thấp)</a>
                        <a href="#">Giá(Thấp-cao)</a>
                    </div>
                    <div class="rooms__list">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-12 col-lg-4 d-flex mt-1">
                                    <div class="rooms__item">
                                        <!-- Hình ảnh -->
                                        <div class="rooms__img">
                                            <a href="/DetailRoom/@item.ID">
                                                <img src="./Images/Room/@item.Image" alt="rooms list" />
                                                <div class="rooms__hover">
                                                    <div class="rooms__hover-flex">
                                                        <p>Giá chỉ từ </p>
                                                        <p><span style="font-size: 26px">@item.Price.ToString("#,##0 VND")</span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Nội dung -->
                                        <div class="rooms__content">
                                            <h3>@item.Name</h3>
                                            <p>@item.Description</p>
                                            <p class="fw-bold"><span>@item.Price.ToString("#,##0 VND")</span></p>
                                            <a href="/DetailRoom/@item.ID" class="btn btn-warning text-white">Chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="rooms__pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">
                                            <i class="far fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            <i class="far fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="col-12 col-xl-3">
                <div class="rooms-filter">
                    <h1>RESERVATION</h1>
                    <div class="rooms-filter__checkbox">
                        <div class="rooms-filter__list">
                            <label for="casino">
                                <input type="checkbox" name="" id="casino" /> Casino
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="elevator">
                                <input type="checkbox" name="" id="elevator" /> Elevator
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="garage">
                                <input type="checkbox" name="" id="garage" /> Garage Space
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="health">
                                <input type="checkbox" name="" id="health" /> Health Club
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="minibar">
                                <input type="checkbox" name="" id="minibar" /> Minibar
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="parking">
                                <input type="checkbox" name="" id="parking" /> Parking
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="pet">
                                <input type="checkbox" name="" id="pet" /> Pet Friendly
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="restaurant">
                                <input type="checkbox" name="" id="restaurant" /> Restaurant
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="service">
                                <input type="checkbox" name="" id="service" /> Room Service
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="safe">
                                <input type="checkbox" name="" id="safe" /> Safe Deposit Box
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="sauna">
                                <input type="checkbox" name="" id="sauna" /> Sauna
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="wifi">
                                <input type="checkbox" name="" id="wifi" /> Wi-Fi
                            </label>
                        </div>
                    </div>
                    <div class="rooms-filter__choose">
                        <div class="rooms-filter__chooseList">
                            <label for="">CHOOSE A LOCATION</label>
                            <select name="" id="">
                                <option value="">All</option>
                                <option value="">Alps</option>
                                <option value="">Delaware</option>
                                <option value="">Miami</option>
                                <option value="">Milan</option>
                            </select>
                        </div>
                        <div class="rooms-filter__chooseList">
                            <label for="">ROOMS</label>
                            <select name="" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5/option></option>
                            </select>
                        </div>
                        <div class="rooms-filter__chooseList">
                            <span class="rooms-calendar">
                                <label for="">CHECK-IN:</label>
                                <input type="text" name="checkIn" value="3/30/2021" />
                            </span>
                        </div>
                        <div class="rooms-filter__chooseList">
                            <span class="rooms-calendar">
                                <label for="">CHECK-OUT:</label>
                                <input type="text" name="checkIn" value="3/31/2021" />
                            </span>
                        </div>
                    </div>
                    <div class="rooms-filter__checkbox">
                        <div class="rooms-filter__list">
                            <label for="air">
                                <input type="checkbox" name="" id="air" /> Air Conditioner
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="internet">
                                <input type="checkbox" name="" id="internet" /> Free
                                Internet
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="television">
                                <input type="checkbox" name="" id="television" /> LCD
                                Television
                            </label>
                        </div>
                        <div class="rooms-filter__list">
                            <label for="microwave">
                                <input type="checkbox" name="" id="microwave" /> Microwave
                            </label>
                        </div>
                    </div>
                    <div class="rooms-filter__children d-flex justify-content-between">
                        <div class="rooms-filter__children-item">
                            <label for="">ADULTS</label>
                            <select name="" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="rooms-filter__children-item">
                            <label for="">CHILDREN</label>
                            <select name="" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="rooms-priceRange">
                        <p>Price from $0 to $<span id="price">100</span></p>
                        <input type="range" class="form-range" min="0" max="100" value="100" id="input-rooms">
                    </div>
                    <div class="rooms-btn">
                        <button type="submit">FILTER RESULT</button>
                    </div>
                </div>

            </div> *@
        </div>
    </div>
    </div>
</section>

<!-- Main JS-->
<script src="~/FE2/js/single-room.js"></script>
<script src="~/FE2/js/main.js"></script>