@model DATN.ViewModel.RoomGal

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm phòng</h1>

<hr />
<form asp-action="Create" asp-controller="Room" enctype="multipart/form-data">
    <div class="row">
        <!-- Cột bên trái: Chứa các mục khác như Title, Description, ImageFile -->
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Room.Name" class="control-label"></label>
                <input asp-for="Room.Name" class="form-control" />
                <span asp-validation-for="Room.Name" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Room.RoomTypeId">Loại phòng:</label>
                <select asp-for="Room.RoomTypeId" asp-items="ViewBag.RoomTypes" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Room.Description" class="control-label"></label>
                <textarea asp-for="Room.Description" class="form-control" cols="40" rows="5"></textarea>
                <span asp-validation-for="Room.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Price" class="control-label"></label>
                <input asp-for="Room.Price" class="form-control" />
                <span asp-validation-for="Room.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="label-control">Hình ảnh phòng</label>
                <br />
                <input asp-for="Room.ImageFile" id="ImageFile" type="file" accept="image/*" class="form-control-file" />
                <span asp-validation-for="Room.ImageFile" class="text-danger"></span>
                <img id="imgPreview" src="#" style="display:none" width="100px" height="100px" alt="Preview" />
            </div>

            <div class="form-group">
                <label class="label-control">Hình ảnh chi tiết</label>
                <br />
                <input asp-for="Images" id="ImageFile" type="file" accept="image/*" class="form-control-file" multiple/>
                <span asp-validation-for="Images" class="text-danger"></span>
                <img id="imgPreview" src="#" style="display:none" width="100px" height="100px" alt="Preview" />
            </div>

            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning"><i class="fa-solid fa-arrow-left"></i> Trở lại</a>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script> <!-- Sử dụng CKEditor 4 -->
    <script>
        // Khởi tạo CKEditor với các tùy chọn cho thanh công cụ chi tiết
        CKEDITOR.replace('editor', {
            toolbar: [
                { name: 'document', items: ['Source', '-', 'NewPage', 'Preview', '-', 'Templates'] },
                { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
                { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll', '-', 'Scayt'] },
                '/',
                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
                { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language'] },
                { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                { name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'SpecialChar', 'PageBreak'] },
                '/',
                { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
                { name: 'colors', items: ['TextColor', 'BGColor'] },
                { name: 'tools', items: ['Maximize', 'ShowBlocks'] }
            ],
            height: 300, // Chiều cao của CKEditor
            removePlugins: 'elementspath', // Loại bỏ đường dẫn phần tử ở cuối CKEditor
            resize_enabled: false // Không cho phép thay đổi kích thước CKEditor
        });

        // Hiển thị bản xem trước của hình ảnh tải lên
        $("#ImageFile").change(function () {
            var input = this;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result).show();
                };

                reader.readAsDataURL(input.files[0]);
            }
        });
    </script>
}



