<!-- Alert Box -->
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="alert alert-success mt-4">
    <p>Nếu cần hỗ trợ kỹ thuật, quý khách vui lòng thực hiện một trong ba cách sau:</p>
    <p>1. Truy cập: <a href="http://supportphuongnamvina.com">supportphuongnamvina.com</a> và gửi yêu cầu hỗ trợ.</p>
    <p>2. Gửi email cho phòng kỹ thuật: <a href="mailto:kythuat@phuongnamvina.vn">kythuat@phuongnamvina.vn</a>.</p>
    <p>3. Gọi số Hotline Hỗ Trợ Khách Hàng: <strong>0915101017, 0912817117.</strong></p>
</div>