<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    .content {
        flex: 1;
    }

    .footer {
        margin-top: auto;
    }

</style>
<p class="alert alert-warning text-center" style="font-size: 18px; background-color: #f8d7da; border-color: #f5c6cb;">
    <strong>1 email yêu cầu thay đổi mật khẩu đã được gửi về email của bạn. Hãy kiểm tra!</strong>
</p>
