<p class="alert alert-success text-center" style="font-size: 18px; background-color: #f8d7da; border-color: #f5c6cb;">
    <strong>1 email yêu cầu thay đổi mật khẩu đã được gửi về email của bạn. Hãy kiểm tra!</strong>
</p>